/*
    This css file contains the default styles and comportaments,
    that can be use for all the project.
*/

:root {
    --bp-large: 1280px;
    --bp-medium: 920px;
    --bp-small: 720px;
    --bp-xsmall: 479px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 100px;
}

html, body, img, fieldset {
  border: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus, textarea:focus {
    outline: none;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: block;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
}

@media only screen and (max-width: 720px) {
    header {
        display: none;
    }
}

.fixed {
  border-bottom: 1px solid #f4f4f4;
}

.header-nav {
  display: block;
  width: 100%;
}

.header-nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media only screen and (max-width: 920px) {
    .header-nav ul {
        justify-content: space-between;
    }
}

.header-nav ul li {
  display: block; 
}

.header-nav ul li a {
  display: block;
  font-size: 14px;
  color: #898989;
  text-transform: uppercase;
  padding: 25px 20px;
}

@media only screen and (max-width: 720px) {
    .header-nav ul li a {
        padding: 25px 10px;
    }
}

.header-nav ul li a:hover {
  background-color: #fbfbfb;
  transition: 0.6s;
}

/* Menu mobile */
.mobile-menu {
    display: none;
}

/* @media only screen and (max-width: 720px) {
    .mobile-menu {
        display: block;
    }
} */

/* Content Style */
.content {
  display: block;
  width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
    .content {
        width: 95%;
    }
}

/* Action Button */
.action-button {
    display: block;
    margin: 0 auto;
    width: 168px;
    border-radius: 5px;
    background-color: #ef3e42;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 0;
    margin-top: 30px;
}

.action-button:hover {
    transition: 0.6s;
    background-color: #ca2a2d;
}

/* Box Content Style */
.box-content {
  display: block;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 50px 20px;
  margin: 0 auto;
  margin-top: 30px;
}

@media only screen and (max-width: 920px) {
    .box-content {
        width: 100%;
    }
}

.box-content-info {
    display: block;
    width: 38%;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 920px) {
    .box-content-info {
        width: 100%;
    }
}

.box-content-info h2 {
    font-size: 25px;
    color: #184b8f;
    font-weight: 400;
}

.box-content-info p {
    font-size: 15px;
    color: #6a6a6a;
    line-height: 28px;
    margin-top: 25px;
}

/* Modal Default Style */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 440px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 60px 55px;
}

@media only screen and (max-width: 920px) {
    .modal-content {
        width: 80%;
        height: 90%;
        overflow: auto;
    }
}

@media only screen and (max-width: 590px) {
    .modal-content {
        width: 90%;
        padding: 40px 30px;
    }
}

.modal .close {
    display: block;
    width: 15px;
    height: 15px;
    background: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    text-indent: -9000em;
    position: absolute;
    top: 30px;
    right: 30px;
}

.modal h2 {
    font-size: 25px;
    color: #7e7e7e;
    font-weight: 300;
}

.modal p {
    font-size: 15px;
    color: #7e7e7e;
    font-weight: 300;
    line-height: 22px;
    margin-top: 30px;
}

.modal textarea {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    color: #7e7e7e;
    font-weight: 300;
    line-height: 20px;
    padding: 15px;
    margin-top: 50px;
}

.modal .action-button {
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    border: none;
}